<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chitter</title>
  </head>
  <body>

<h1>Welcome to Chitter...</h1>
<form action="/sign_up" method="post">
  Peep: <input type="text" name="username" />
  <input type="text" name="password" />
  <br />
  <input type="submit" value="Submit" />
</form>

<form action="/sign_up" method="get">
  <input type="submit" name="Sign up" value="Sign up">

</form>

</body>
</html>
